*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Arial', sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

.header-nav{
    display: flex;
    justify-content: space-between;
    background-color: #f0f0f0;
    position: sticky;
    top: 0;
}



.header-nav img{
    margin-left: 5px;
}

.button-nav{
    margin-top: 15px;
    margin-right: 10px;
}

.btn{
    background-color: transparent;
    border: none;
    margin-right: 20px;
}



.live {
    transition: 0.5s ease;
    background-color: black;
}

.live .btn{
    color: white;
}

.btn:hover{
    color: chocolate;
}

p{
    margin: 30px 20px 30px 20px;
    text-align: justify;
    font-size: 0.8rem;
}