body {
    background-color: #f2f2f2;
    font-family: "Helvetica", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60vh;
}


.container{
    background-color: white;
    border: none;
    border-radius: 8px;
    box-shadow: 5px 5px 15px lightgray , -5px -5px 15px lightgray;
    padding: 30px 70px 30px 70px;
    font-size: large;
}

.heading{
    font-size: 2rem;
    font-weight: bold;
    text-align: center;
}

.input1,.input2{
    padding: 10px;
    width: 100%;
    border-radius: 5px;
    border: 1px solid lightgray;
    font-size: 15px;
}

.calculate{
    margin-top: 15px;
    width: 100%;
    padding: 10px 15px;
    background-color: green;
    border: none;
    color: #f2f2f2;
    cursor: pointer;
}

.calculate:hover{
    background-color: #f2f2f2;
    color: black;
}

