*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to bottom right, purple 20%, orange 80%);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: sans-serif;
}

.medias{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;
}

.select-media-js{
    display: flex;
    justify-content: space-between;
    gap: 150px;
    padding: 10px;
    border: none;
    background-color: rgba(255, 255, 255, 0.266);
    color: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
    cursor: pointer;
}

.display-selected-media{
    display: flex;
    gap: 10px;
    padding-left: 5px;
    scale: 0.9;
}

.arrow-image-js {
    opacity: 0.3;
    transition: 0.3s ease;
}

.arrow-rotate-js{
    transform: rotate(180deg);
    transition: 0.3s ease;
}

.favicon-image{
    opacity: 0.4;
}

ul{
    list-style-type: none;
    display: flex;
    flex-direction: column;

}

p{
    color: rgba(0, 0, 0, 0.4);
}



.choose-media{
    padding: 10px;
    border: none;
    background-color: rgba(255, 255, 255, 0.266);
    border-radius: 5px;
    opacity: 1;
    
}



.option-button{
    background-color: transparent;
    border: none;
    display: flex;
    gap: 10px;
    cursor: pointer;
    padding: 10px 15px 10px 5px;
    width: 100%;
    transition: 0.3s ease;
}

.option-button:hover {
    background-color: rgba(0, 0, 0, 0.116);
    border-radius: 5px;
    padding-left: 20px;
    transition: 0.2s linear;
}



